node_modules
.env
!.env.example
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pyc
.coverage
coverage
htmlcov
venv
.venv
.pytest-cache
logs
-e
-p
-v
-d
-i
-s
-c
-f
--network
postgres15
*.csv
*.sql
*.parquet
*.geojson
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.lzo
*.tar.lrz
*.shp
*.shx
*.prj
*.cpg
*.dbf
*.prj
*.cpg
*.dbf
*.prj
*.cpg
*.mbtiles
*.pbf
*.mbtiles-journal
*.CSV
dvf_convert/
*.7z
data/
!**/data/templates/
performance/*
*.dump
*.ttf
map-assets/*
!frontend/public/**/*.json
!frontend/public/*.json
backend_blog/*
frontend_blog/*
template/
