fastapi==0.110.0
httpx==0.25.0
pydantic==2.5.0
python-dotenv==1.0.1
PyJWT==2.10.1
cryptography==43.0.1
python-multipart==0.0.6
PyYAML==6.0.1
uvicorn==0.29.0
uvloop==0.21.0
watchfiles==1.1.0
websockets==15.0.1
