[flake8]
max-line-length = 150

exclude =
    .git,
    __pycache__,
    frontend/node_modules,
    venv,
    build,
    dist

# ignore D401: First line should be in imperative mood
ignore = D401

# Plugins activés : docstrings, naming, quotes, bugbear, simplify, comprehensions, pytest
select =
    D,        # flake8-docstrings
    E, F, W,  # pycodestyle + pyflakes
    C,        # mccabe (complexité cyclomatique)
    Q,        # flake8-quotes
    B,        # flake8-bugbear
    SIM,      # flake8-simplify
    C4,       # flake8-comprehensions
    PT        # flake8-pytest-style

max-complexity = 10

# flake8-quotes config
inline-quotes = "
multiline-quotes = """
docstring-quotes = """
